body{
	list-style-type:none; 
}
ul>li{
    cursor: pointer;
    transition: 0.4s all;
}
#navigation, #navigation li ul { 
list-style-type:none; 
} 
#navigation { 
margin:20px; 
font-size:20px;
} 
#navigation li { 
float:left; 
text-align:center; 
position:relative; 

} 

#navigation ul li {
	background:#000; 
}

#navigation li a:link, #navigation li a:visited { 
display:block; 
text-decoration:none; 
color:#ffffff; 
width:120px; 
height:40px; 
line-height:40px; 
border-width:1px 1px 0 0; 
background:rgba(0,0,0,0); 
padding-left:10px; 
} 
#navigation li a:hover { 
color:white; 
background:rgba(0,0,0,0); 
} 
#navigation li a{ 
color:white; 
background:rgba(0,0,0,0); 
} 
#navigation li ul li a:hover { 
color:white; 
background:black; 
} 
#navigation li ul { 
display:none; 
position:absolute; 
top:40px; 
left:0; 
margin-top:1px; 
width:120px; 
} 
#navigation li ul li ul { 
display:none; 
position:absolute; 
top:0px; 
left:130px; 
margin-top:0; 
margin-left:1px; 
width:120px; 
} 