 * {
            margin: 0;
            padding: 0;
        }
        
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
           
        }
       
        #fix-modal-open{
         padding-right:0 !important;
        }
        
        .modal-open{
	        overflow:initial !important;
	        padding-right:0 !important;
        }
        .answer-report-modal{
        color:#000;
        }
        
        .topic-lists-left ul{
            background-color: #f6f7fb;
        }
        
        .hot-topic-list li {
            display: block;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
           
        }
        
        .recomm-topics-list {
            float: left;
            margin-top: 30px;
            width: 50%;
        }
        
        #search-res-div{
        	position:absolute;
       		z-index:999;
       		background-color:#fff;
       		width:457.5px;
       		
        }
        #search-res-list{
    		
    		
       		border-left:1px solid #ccc;
    		border-right:1px solid #ccc;
    		border-bottom:1px solid #ccc;
    		
		}
		#search-res-list li{
			height:30px;
			line-height:30px;
			padding-left:10px;
			font-size:14px;
			color:#333;
		}
		#search-res-list li:hover{
			background-color:#eee; 
		}
        #search-res-list li a{
        	 color: #666;
        }
        .right-sec {
            margin-top: 20px;
            padding: 0 20px;
            border: 1px solid #ddd;
            background-color:#fefefe;
        }
        
        .recomm-topics-header {
            margin-top: 40px;
        }
        
        .recomm-topics-img {
            float: left;
            display: block;
            height: 95px;
            margin-right: 30px;
        }
        
        .recomm-topics {
            width: 264px;
            float: left;
            margin-left: 10px;
        }
        
        .recomm-topics a {
            font-size: 16px;
        }
        
        .recomm-topic-name {
            font-family: STHeiti, "Microsoft Yahei", "Microsoft YaHei", Arial, sans-serif;
        }
        
        .recomm-topic-intro {
            color: #666;
            line-height: 20px;
            margin-top: 10px;
            height: 40px;
            overflow: hidden;
        }
        
        .follow-item a {
            margin-left: 20px;
        }
        
        .clearfix:after {
            content: " ";
            display: table;
            clear: both;
        }
        
        .topic-head-title {
            font-size: 20px;
            color: #fb4d36;
        }
        
        
         ul {
            list-style: none;
        }
        
        .topic-detail-banner img {
            width: 100%
        }
        
        .topic-avatar {
            float: left;
            display: block;
            margin-top: -40px;
        }
        
        .topic-name {
            float: left;
            display: block;
            font-size: 25px;
            margin-left: 30px;
            height: 50px;
            line-height: 50px;
        }
        
        .follow-topic {
            float: left;
            height: 50px;
            line-height: 50px;
        }
        
        .ques-list ul li {
            width: 100%;
            height: 100px;
            line-height: 100px;
            font-size: 16px;
            border-bottom: 1px dotted #e4e6eb
        }
        
        .ques-list ul li :hover {
            background-color: #f7f9fc;
        }
        
        .post-new-ques {
            width: 100%;
            padding: 0 30px;
        }
        
        .post-new-ques input {
            width: 100%;
            height: 40px;
            border: 1px solid #999;
            margin: 20px 0;
        }
        
        .post-new-ques textarea {
            width: 100%;
            min-height: 150px;
        }
        
        .glyphicon-user {
            color: #eeae69;
        }
        .question-header {
            padding: 10px 20px;
            background-color: rgba(252, 248, 210, 0.25);
        }
         .question-header h3 {
            color: #3d4750;
        }
        .question-header h3 a{
            color: #9ca8cd;
        }
        .question-header h3 a:hover{
            color: #9ccdb4;
            text-decoration:none;
        }
        
        .ques-comm-txt {
            width: 100%;
            min-height: 120px;
        }
        
        .ques-detail-comm {
            margin-top: 50px;
        }
        
        .answer-item {
            position: relative;
            float: left;
            margin-top: 10px;
            margin-right: 30px;
            margin-left: 10px;
            width: 252px;
            height: 300px;
            color: #fff;
            cursor: pointer;
        }
        .answer-count{
        	background-color: #d3f0e5;
		    display: inline-block;
		    width: 40px;
		    height: 25px;
		    line-height: 25px;
		    text-align: center;
		    border-radius: 5px;
		    color: #333;
        }
        .answer-content {
            position: absolute;
            text-align: center;
            width: 90%;
            height: 50%;
            margin-top: 10px;
            margin-right: 40px;
        }
        
        .answer-zan {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-bottom: 5px;
            width: 100%;
        }
        
        .answer-zan span {
            float: left;
        }
        
        .answer-zan a {
            float: right;
        }
        
        .answer-zan .fa-thumbs-o-up {
            color: rgb(252, 166, 30)
        }
        
        .report-btn {
            float: right;
        }
        
        .answer-item .answer-username {
            font-size: 18px;
        }